body {
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  background: #000000;
  color: #FFFFFF;
  font-size: 15px;
  line-height: 1.2;
  margin: 0;
  /* font-family: 'cs', sans-serif; */
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
/* a {
  color: #222222;
}
a:hover {
  text-decoration: none;
} */
h1 {
  margin: 0;
}
p {
  margin-top: 0;
  /*margin-bottom: 12px;*/
}
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  position: relative;
}
.link {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.noname {
  width: 200px;
  display: block;
}
.logo {
  opacity: .6;
  -webkit-transition: opacity ease-in-out .2s;
  -o-transition: opacity ease-in-out .2s;
  transition: opacity ease-in-out .2s;
  /* position: absolute;
  top: 50%;
  left: 50%; */
}
.logo:hover {
  opacity: 1;
}
.logo img {
  display: block;
  width: 100%;
}
.esquire {
  width: 120px;
}
.gucci {
  width: 100px;
}
.garage {
  width: 60px;
}
.thrasher {
  width: 60px;
}